@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');
/***************
    general
****************/
:root {
        --light-green: #A1EC99;
        --brown: #4E2510;
        --white: #ffffff;
        --cinzel: "Cinzel", serif;
        --roboto-slab: "Roboto Slab", serif;;
        --bebas-neue: "Bebas Neue", sans-serif;;
        --inline-margin-phone: 40px;
        --inline-margin-tablet-desktop: 60px;
        --inline-margin-big-desktop: 150px;
        --max-width: 1400px;
      }

h1, h2, h3, h4{
    font-family: var(--cinzel);
    color: var(--white);
    margin: 0;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    background-color: var(--brown);
}


p, a{
    font-family: var(--roboto-slab);
    margin: 0;
    font-size: 20px;
    color: var(--white);
}

.cta-button{
    padding: 2px 3px 0 3px;
    font-size: 30px;
    text-decoration: none;
    color: var(--light-green);
    border: var(--light-green) solid 2px;
    border-radius: 3px;
    font-family: var(--bebas-neue);
}

.cta-button:hover{
color: var(--white);
transform: scale(1.03);
}


/***************
     Header
****************/
header {
    background-image: url(./media/img/Bg_brown.png);
    background-size: 100%;
    background-repeat: no-repeat center;
    height: 114px;  
    z-index: 99;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--inline-margin-phone);
    max-width: var(--max-width);
    margin: 0 auto;
}

header img {
    padding-top: 10px;
    width: 122px;
    height: 148px;
}


/***************
      Nav
****************/

.hamburger {
    display: block;
    width: 50px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    padding-bottom: 70px;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;

}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px );
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px );
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 114px;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: var(--brown);
    text-align: center;
    z-index: -99;

}

.mobile-nav.is-active {
    left: 0;
    overflow: hidden;
    transition: 0.4s;
}




.mobile-nav a {
    margin: 10px 0;
    text-decoration: none;
    color: var(--white);
    font-size: 28px;

}

.mobile-nav a:hover {
    text-decoration: underline;

}

.mobile-nav .active-nav {
    color: var(--light-green);
    text-decoration: underline;
}

/***************
     Footer
****************/
footer{
    background-image: url(./media/img/Bg_brown.png);
    background-size:cover;
    background-repeat: no-repeat center;
 

}
.footer-container{
    padding: 30px var(--inline-margin-phone);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    
}


.footer-container > img{
    width: 122px;
    height: 148px;
}

.footer-container > div{
    text-align: center;
}

.footer-adresse-kontakt, .footer-container > img{
    margin: 0 auto 30px auto;
}

.footer-container > div > h2{
    margin-bottom: 5px;
}

.footer-kontakt-h2{
    margin-top: 30px;
}

/***************
    index side
****************/

.index-hero{
    overflow: hidden;
    height: auto;
}

.index-hero > img{
    width: 100%;
}

#apningstider{
    margin: -33px auto 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(media/img/Bg_brown.png);
    border-radius: 5px;
    padding: 20px;
    text-wrap: nowrap;
    filter: drop-shadow(5px 5px 5px #000000);
}

#apningstider > img{
    display: none;
}

#daysContainer{
    display: flex;
    flex-direction: row;
}

.cover_img_index{
    background-image: url(media/img/jukeboks_wide.webp);
    background-position: right;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover_img_index > h2{
    margin: -50px auto 0 auto;
}

.index-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.index-card > div{
    margin: var(--inline-margin-phone);
    max-width: var(--max-width);
}

.index-card-img > img{
    width: 500px;
}

.index-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-card-info > p{
    max-width: 500px;
    margin: 0 auto 10px auto;
}

.dbl-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dbl-img > img{
    width: 300px;
}

.top-img{
    position: relative;
    z-index: 1;
    border-radius: 5px;
    padding-right: 50px;
    filter: drop-shadow(4px 4px 5px #000000);
}

.btm-img{
    position: relative;
    margin: -30% auto 0 auto;
    margin-left: 150px;
    border-radius: 5px;
}

#card-background{
    background-image: url(media/img/Bg_brown.png);
    background-position: center;
    background-size: cover;
}

/***************
    historie
****************/

.hero-historie{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(media/img/Rævedilter-1122608.webp);
    background-size: cover;
    background-position: center;
    height: 20vh;
}

.historie-card-bg{
    background-image: url(media/img/Bg_brown.png);
    background-size: cover;
    background-position: center;
}

.historie-card-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 40px;
    padding: 0 0 40px 0;
}

.historie-card-info{
    padding-top: 20px;
}

.historie-card-img{
    margin: 20px;
    overflow: hidden;
    max-width: 500px;
}

.historie-card-img > img{
    width: 100%;
}

.historie-wide-img{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 150px;
}

.historie-wide-img > img{
    width: 100%;
}

.historie-box{
    background-image: url(media/img/Bg_brown.png);
    background-size: cover;
    background-position: center;
}

.historie-box > p{
    padding: 40px;
    margin: 0 40px 0 40px;
}

/***************
    menu
****************/

/*#scrollBtn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 99;
    cursor: pointer;
}*/

.menu-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 0 var(--inline-margin-phone);
    margin: 0 auto;
}

.menu-main > h1{
    margin: 50px 0 30px 0;
}

.drink-kategorier{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 30px;
    margin-bottom: 30px;
}

.drink-kategorier > a{
    color: var(--light-green);
    text-decoration: none;
    font-family:var(--bebas-neue);
    font-size: 30px;
}

.drink-kategorier > a:hover{
    text-decoration: underline;
}

.enkel-kategorier{
    width: 100%;
    margin-bottom: 30px;
}
.h2-med-icon{
    display: flex;
    flex-direction: row;
    align-items:end
}
.drink-icon{
    height: 50px;
}

.enkel-kategorier h2{
   border-bottom: solid 2px var(--white);
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    gap:5px;
    align-items: end;
    flex-direction: row;
    justify-content: center;
}

.produkt-og-pris{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.drink-pris{
    text-align: right;
}

.produkt-navn{
    color: var(--light-green);
}

.cocktails-pris{
    display: flex;
    justify-content: flex-end;
}

.cocktails-item-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

/*.cocktails-h2-pris{
    color: var(--light-green);
}/**/

.meny-pdf{
    display: flex;
}

.meny-pdf > *{
    margin-bottom: 30px;
    font-size: 25px;
    font-family: var(--roboto-slab);
}

.meny-pdf > a:hover{
    color: var(--light-green);
}




/***************
    kontakt oss
****************/

.kontakt-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--inline-margin-phone);
}

.kontakt-main h1 {
    font-size: 28px;
}

.kontakt-main h2 {
    margin-top: 40px;
    font-size: 18px;
}

.kontakt-main p {
    font-size: 16px;
}


.green-p {
    color: var(--light-green);
}

iframe {
    width: 350px;
    height: 300px;
    margin: 40px 0;
}



/***************
    jukeboks
****************/
.jukeboks-main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jukeboks-hero{
    width: 100%;
    height: 50vw;
    background-image: url(./media/img/Jukeboks-fullsize.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.jukeboks-hero > h1 {
    margin-right: 9%;
    font-size: 27px;
}


.jukeboks-meny-bilde-link > img{
    width: 100%;
    margin-bottom: 20px;
}

.jukeboks-meny-bilde-link > a{
    text-align: center;
    font-size: 25px;
}

.jukeboks-meny-bilde-link > a:hover{
    color: var(--light-green);
}

.jukeboks-meny-bilde-link{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.jukeboks-content{
    max-width: var(--max-width);
    margin: 0 var(--inline-margin-phone);
    padding: 50px 0;
}

.har-du-plater{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.har-du-plater > h2{
    text-align: center;
    margin-bottom: 10px;
}

.har-du-plater > p{
    max-width: 500px;
    margin: 0 auto 10px auto;
}



/*phone media*/

@media screen and (min-width: 576px){
    .cocktails-item-container{
        flex-direction: row;
    }


    .header-container{
        padding: 0 var(--inline-margin-tablet-desktop)
    }

    .footer-container{
        padding: 30px var(--inline-margin-tablet-desktop);
    }

/***************
  kontakt oss
****************/

.kontakt-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--inline-margin-tablet-desktop);
}

.kontakt-main h1 {
    font-size: 32px;
}

.kontakt-main p {
    font-size: 20px;
}

.kontakt-main h2 {
    font-size: 24px;
}


iframe {
    width: 500px;
    height: 500px;
    margin: 40px 0;
}

.jukeboks-content{
    margin: 0 var(--inline-margin-tablet-desktop);
}

}





/*liten desktop*/
@media screen and (min-width: 768px){

/***************
  kontakt oss
****************/

.kontakt-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--inline-margin-phone);
}

.kontakt-main h1 {
    font-size: 36px;
}

.kontakt-main p {
    font-size: 24px;
}

.kontakt-main h2 {
    font-size: 28px;
}

iframe {
    width: 600px;
    height: 500px;
    margin: 40px 0;
}

/***************
    index side
****************/

.cover_img_index{
    height: 600px;
    padding-left: 30%;
}

.cover_img_index > h2{
    margin: 0;
}

.index-card{
    flex-direction: column;
}

.index-card > div{
    margin: var(--inline-margin-tablet-desktop);
}

.dbl-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dbl-img > img{
    width: 300px;
}

.top-img{
    padding-right: 50px;
}

.btm-img{
    margin: -30% auto 0 auto;
    margin-left: 150px;
}

/*****************
    Historie
*****************/
.hero-historie{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(media/img/Rævedilter-1122608.webp);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.historie-card-bg{
    background-image: url(media/img/Bg_brown.png);
    background-position: center;
    background-size: cover;
}

.historie-card-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 60px 0 60px;
    padding: 0;
}

.historie-card-info > p{
    max-width: 800px;
}

.historie-card-img{
    overflow: hidden;
    max-width: 500px;
}

.historie-card-img > img{
    width: 100%;
}

.historie-wide-img{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 350px;
}

.historie-wide-img > img{
    width: 100%;
}

.historie-box{
    display: flex;
    justify-content: center;
    background-image: url(media/img/Bg_brown.png);
    background-size: cover;
    background-position: center;
}

.historie-box > p{
    max-width: 1000px;
    padding: 40px;
    margin: 0 60px 0 60px;
}

/***************
  jukeboks
****************/



.jukeboks-hero{
    height: 50vw;
    max-height: 400px;
}

.jukeboks-hero > h1 {
    margin-right: 17%;
    font-size: 40px;
}




.jukeboks-meny-bilde-link{
    width: 50%;
    margin-bottom: 0;
}

.jukeboks-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.har-du-plater{
    width: 50%;
}



/***************
  footer
****************/
.footer-container{
    flex-direction: row;
    justify-content: space-between;
}


.footer-container > div{
    text-align:start;
}

.footer-container > div, .footer-container > img{
    margin: 0;
}

}

@media screen and (min-width: 850px){
    #apningstider{
        margin: -100px auto 0 auto;
        color: white;
        padding: 0 20px 20px 20px;
    }
    
    #apningstider > img{
        display: block;
        width: 400px;
        height: auto;
    }
    
}


/*stor desktop*/
@media screen and (min-width: 1100px){

/***************
     Header
****************/
header {
    background-image: url(./media/img/Bg_brown.png);
    background-size: 100%;
    background-repeat: no-repeat center;
    height: 114px;  
    z-index: 99;
}

.header-container {
    padding: 0 var(--inline-margin-big-desktop);
}

header img {
    padding-top: 15px;
}


/***************
      Nav
****************/

.hamburger {
    display: none;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 40px;
    left: 25%;
    width: 60%;
    height: 0;
    padding: 0;
    background-color: transparent;
    transition: none;
    z-index: 10;
}
.mobile-nav.is-active {
    left: 25%;
    overflow: visible;
  }


.mobile-nav a {
    font-size: 22px;

}
/***************
    footer
****************/

.footer-container{
    padding: 30px var(--inline-margin-big-desktop);
}

/***************
    index side
****************/

.index-hero{
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 500px;
}

.index-hero > img{
    width: 100%;
}

.index-card{
    flex-direction: row;
}

.dbl-img > img{
    width: 300px;
}

.top-img{
    border-radius: 5px;
    padding-right: 50px;
}

.btm-img{
    margin: -30% auto 0 auto;
    margin-left: 250px;
}

/*****************
    Historie
*****************/
.hero-historie{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(media/img/Rævedilter-1122608.webp);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.historie-card-bg{
    background-image: url(media/img/Bg_brown.png);
    background-position: center;
    background-size: cover;
}

.historie-card-direction{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 150px 0 150px;
}

.historie-card-info > p{
    max-width: 800px;
}

.historie-card-img{
    overflow: hidden;
    max-width: 500px;
}

.historie-card-img > img{
    width: 100%;
}

.historie-wide-img{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 350px;
}

.historie-wide-img > img{
    width: 100%;
}

.historie-box{
    display: flex;
    justify-content: center;
    background-image: url(media/img/Bg_brown.png);
    background-size: cover;
    background-position: center;
}

.historie-box > p{
    max-width: 1000px;
    padding: 40px;
    margin: 0 150px 0 150px;
}

/***************
    kontakt oss
****************/

.kontakt-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--inline-margin-tablet-desktop);
}

.kontakt-main h1 {
    font-size: 40px;
}

.kontakt-main h2 {
    margin-top: 50px;
}

iframe {
    width: 1050px;
    height: 500px;
    margin: 40px 0;
}

}