@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');
/***************
    general
****************/
:root {
        --light-green: #A1EC99;
        --brown: #4E2510;
        --white: #ffffff;
        --cinzel: "Cinzel", serif;
        --roboto-slab: "Roboto Slab", serif;;
        --inline-margin-phone: 40px;
        --inline-margin-tablet-desktop: 60px;
        --inline-margin-big-desktop: 150px;
        --max-width: 1400px;
      }

h1, h2, h3, h4{
    font-family: var(--cinzel);
    color: var(--white);
}

h1{
    font-size: 50px;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    background-color: var(--brown);
}


p, a{
    font-family: var(--roboto-slab);
    margin: 0;
    font-size: 20px;
    color: var(--white);
}
/***************
     Header
****************/
header {
    background-image: url(./media/img/Bg_brown.png);
    background-size: 100%;
    background-repeat: no-repeat center;
    height: 114px;  
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

header img {
    width: 142px;
}


/***************
      Nav
****************/

.hamburger {
    display: block;
    width: 40px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;

}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px );
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px );
}

.hamburger.is-active .bar {
    opacity: 0;
}

/***************
     Footer
****************/

/***************
    index side
****************/

/***************
    historie
****************/

/***************
    menu
****************/

.menu-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drink-kategori{
}

/***************
    kontakt oss
****************/

/***************
    jukeboks
****************/



/*phone media*/

@media screen and (min-width: 576px){

}


/*liten desktop*/
@media screen and (min-width: 768px){

}


/*stor desktop*/
@media screen and (min-width: 1100px){

}

   