@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');
/***************
    general
****************/
:root {
        --light-green: #A1EC99;
        --brown: #4E2510;
        --white: #ffffff;
        --cinzel: "Cinzel", serif;
        --roboto-slab: "Roboto Slab", serif;;
        --bebas-neue: "Bebas Neue", sans-serif;;
        --inline-margin-phone: 40px;
        --inline-margin-tablet-desktop: 60px;
        --inline-margin-big-desktop: 150px;
        --max-width: 1400px;
      }

h1, h2, h3, h4{
    font-family: var(--cinzel);
    color: var(--white);
}

h1{
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    background-color: var(--brown);
}


p, a{
    font-family: var(--roboto-slab);
    margin: 0;
    font-size: 20px;
    color: var(--white);
}
/***************
     Header
****************/
header {
    background-image: url(./media/img/Bg_brown.png);
    background-size: 100%;
    background-repeat: no-repeat center;
    height: 114px;  
    z-index: 99;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    
}

header img {
    padding-top: 10px;
    width: 122px;
}


/***************
      Nav
****************/

.hamburger {
    display: block;
    width: 50px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    padding-bottom: 70px;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 5px;

}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px );
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px );
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 114px;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: var(--brown);
    text-align: center;
    transition: 0.2s;
    z-index: -99;

}

.mobile-nav.is-active {
    left: 0;
    overflow: hidden;
}




.mobile-nav a {
    margin: 10px 0;
    text-decoration: none;
    color: var(--white);
    font-size: 28px;

}

.mobile-nav a:hover {
    text-decoration: underline;

}

.mobile-nav .active-nav {
    color: var(--light-green);
    text-decoration: underline;
}

/***************
     Footer
****************/

/***************
    index side
****************/

/***************
    historie
****************/

/***************
    menu
****************/

.menu-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 0 var(--inline-margin-phone);
    margin: 0 auto;
}

.drink-kategorier{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 30px;
    margin-bottom: 30px;
}

.drink-kategorier > a{
    color: var(--light-green);
    text-decoration: none;
    font-family:var(--bebas-neue);
    font-size: 30px;
}

.drink-kategorier > a:hover{
    text-decoration: underline;
}

.enkel-kategorier{
    width: 100%;
    margin-bottom: 30px;
}

.enkel-kategorier > h2{
    border-bottom: solid 2px var(--white);
    padding-bottom: 10px;
    text-align: center;
}

.produkt-og-pris{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.produkt-navn{
    color: var(--light-green);
}

.cocktails-pris{
    display: flex;
    justify-content: flex-end;
}

.cocktails-item-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}




/***************
    kontakt oss
****************/

/***************
    jukeboks
****************/



/*phone media*/

@media screen and (min-width: 576px){

}


/*liten desktop*/
@media screen and (min-width: 768px){

}


/*stor desktop*/
@media screen and (min-width: 1100px){

/***************
     Header
****************/
header {
    background-image: url(./media/img/Bg_brown.png);
    background-size: 100%;
    background-repeat: no-repeat center;
    height: 114px;  
    z-index: 99;
}

.header-container {
    padding: 0 30px;
}

header img {
    padding-top: 15px;
}


/***************
      Nav
****************/

.hamburger {
    display: none;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 40px;
    left: 250px;
    width: 80%;
    height: 0;
    padding: 0;
    background-color: transparent;
    transition: none;
    z-index: 10;
}
.mobile-nav.is-active {
    left: 250px;
    overflow: visible;
  }


.mobile-nav a {
    font-size: 22px;

}

}

   